package.json
package-lock.json
node_modules
checklist.md
.vscode
*.class
*.out
.html
.vpl
build*
*.pro
*.pro.user
.links
crude
drafts
scripts
trash
.config.ini
Solver*
solver*
src
__*
local.sh
config.json
