# common files for languages
package.json
package-lock.json
node_modules
# java
*.class
# python
.mypy_cache
__pycache__
# c e c++
*.out
*.exe
*.o
# haskell
*.hi
# project files
.idea
.vscode
*.pro
*.pro.user
.config.ini
# tko local
.tko
.build
# public filter
local.sh
config.json
src
solver*
Solver*
__*
.hide
.exec
